
* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#fbfbfc, #a8c4e787);
    margin: 10px;

}

.header {
    background-color: blue;
    padding: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
}
.header2 {
    background-color: darkblue;
    padding: 30px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}


