
body {
    /*background: linear-gradient(#fbfbfc, #a8c4e787);*/
    margin: 7px!important;

}

.header {
    background-color: blue;
    padding: 30px;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.header2 {
    background-color:deepskyblue!important;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    margin-right: 0px!important;
    margin-left: 0px!important;
    width: 100%;

}

.container_override {
    margin: 0 !important;
    padding: 0!important;
    max-width: 100%!important;
}
.bi-instagram{
    color: deeppink;
}

.mynav2 {
    text-align: right;
    
}
.header3{
    background-color: blue;
    text-align:center;
    font-size: 22px;
    padding: 20px;
    width: 100%;
    color: white;!important;
}
.mydropdown{
    text-align: right!important;
    background-color: deepskyblue!important;
}
.hea{
    margin-left: 7px;
}


