
body {
    background-image: linear-gradient(white, #0e4cfc24);

}

.header {
    background-color: blue;
    padding: 30px;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.header2 {
    background-color: deepskyblue !important;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    width: 100%;

}

.container_override {
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
}

.bi-instagram {
    color: deeppink;
}

.mynav2 {
    text-align: right;

}

.header3 {
    background-color: blue;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    width: 100%;
    color: white;
    border-radius: 0px 0px 5px 5px;
}

.mydropdown {
    text-align: right !important;
    background-color: deepskyblue !important;
}

.hea {
    margin-left: 7px;
}

.footer {
    text-align: center;
    padding: 7px;
    background-color: deepskyblue;
    width: 100%;
    border-radius: 8px;
}

.main {
    padding: 100px;
    background-color: white;
}

.mainpic{
    margin: 0!important;
}

.main_pic {
    width: 100%;
    height: auto;
}
