{% extends "nafis/base.html" %}
{% load static %}
{% block title %}
    درباره ما
{% endblock %}
{# comment commit test #}
{% block main_content %}
    <div id="about">
        <p dir="rtl">
            خدمات درمان در منزل نفیس اصفهان، مجموعه ای از متخصصان علوم پزشکی است که
            از سال 1398 با هدف ارایه جامع ترین خدمات پزشکی، پرستاری و توانبخشی در منزل
            آغاز به کار کرد.
            <br>
            انگیزه ایجاد مجموعه درمانی نفیس، تسهیل بهره مندی آن دسته از بیمارانی است که توانایی
            مراجعه به مراکز درمانی را ندارند و به همین دلیل از درمان زودهنگام محرومند.
            <br>
            هم اکنون مجموعه درمانی نفیس با پزشکان عمومی، پزشکان متخصص، پرستاران مجرب
            و متخصصان توانبخشی شامل فیزیوتراپیست، کاردرمانگر، گفتاردرمانگر و ارتوپدی فنی
            مشغول ارایه خدمات به بیماران شهر اصفهان می باشد.کلیه اعضا مجموعه عضو سازمان
            نظام پزشکی و پرستاری هستند.


        </p>
    </div>
{% endblock %}
