{% extends "nafis/base.html" %}
{% load static %}
{% block title %}
    درباره ما
{% endblock %}

{% block main_content %}
    <div class="row about">
        <div class="col-sm-2 col-lg-3"></div>
        <div class="col-sm-8 col-lg-6">
            <h4>درباره ما</h4>
            <br>
            <p>
                خدمات درمان در منزل نفیس اصفهان، مجموعه ای از متخصصان علوم پزشکی است که
                از سال 1398 با هدف ارایه جامع ترین خدمات پزشکی، پرستاری و توانبخشی در منزل
                آغاز به کار کرد
            </p>
            <p>
                انگیزه ایجاد مجموعه درمانی نفیس، تسهیل بهره مندی آن دسته از بیمارانی است که توانایی
                مراجعه به مراکز درمانی را ندارند و به همین دلیل از درمان زودهنگام محرومند
            </p>
            <p>
                هم اکنون مجموعه درمانی نفیس با پزشکان عمومی، پزشکان متخصص، پرستاران مجرب
                و متخصصان توانبخشی شامل فیزیوتراپیست، کاردرمانگر، گفتاردرمانگر و ارتوپدی فنی
                مشغول ارایه خدمات به بیماران شهر اصفهان می باشد.کلیه اعضا مجموعه عضو سازمان
                نظام پزشکی و پرستاری هستند
            </p>
        </div>
        <div class="col-sm-2 col-lg-3"></div>

    </div>
    <br>
    <br>
{% endblock %}
