{% load static %}
<html lang="en-US">
<!DOCTYPE html>

<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static "nafis/css/main.css" %}">
</head>


<body>
<div class="header">خدمات در منزل نفیس اصفهان</div>
<div class="header2">شماره های تماس 09020869701&nbsp;&nbsp;09020869706&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    مارا در اینستاگرام دنبال کنید
    &nbsp;&nbsp;&nbsp;&nbsp;</div>
{% block main_content %}{% endblock %}
<script src="{% static "nafis/js/bootstrap.bundle.js" %}"></script>
<script src="{% static "nafis/js/jquery-3.6.0.min.js" %}"></script>
<script src="{% static "nafis/js/main.js" %}"></script>

</body>
</html>