{% load static %}
<html lang="en-US">
<!DOCTYPE html>

<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static "nafis/css/main.css" %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body>
<div class="container container_override">
    <div class="header">خدمات درمان در منزل نفیس اصفهان</div>

    <div class="header2">
        <i class="bi bi-telephone-fill"></i>
        09020869706
        &nbsp;&nbsp;&nbsp;&nbsp;

        <i class="bi bi-telephone-fill"></i>
        09020869701
    </div>
</div>
</div>

<div class="header3">هیچ جا خونه خودت نمیشه</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light mynav1" dir="rtl">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mynav2">
            <li class="nav-item active">
                <a class="nav-link" href="#">صفحه نخست<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    خدمات
                </a>
                <div class="dropdown-menu mydropdown" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">خدمات پزشکی در منزل</a>
                    <a class="dropdown-item" href="#">خدمات پرستاری در منزل</a>
                    <a class="dropdown-item" href="#">فیزیوتراپی در منزل</a>
                    <a class="dropdown-item" href="#">کار درمانی در منزل</a>
                    <a class="dropdown-item" href="#">گفتار درمانی در منزل</a>
                    <a class="dropdown-item" href="#">ارتوپدی فنی</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    ویدیو های اموزشی
                </a>
                <div class="dropdown-menu mydropdown" href="#" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">سکته مغزی</a>
                    <a class="dropdown-item" href="#">پارکینسون</a>
                    <a class="dropdown-item" href="#">ام اس</a>
                    <a class="dropdown-item" href="#">ضربه مغزی</a>
                    <a class="dropdown-item" href="#">سایر بیماری های ارتوپدی</a>
                    <a class="dropdown-item" href="#">سایر بیماری های مغز و اعصاب</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ارتباط با ما</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">درباره ما</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="row main_pic">
    <div class="col-lg-1"></div>
    <div class="col-sm-12 col-lg-10">
        <img  class="mainpic" width="100%" height=100% src="{% static "nafis/images/IMG-20210511-WA0027.jpg" %}">
    </div>
    <div class="col-lg-1"></div>
</div>
<br>
<br>

<!--<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10 col-lg-3">
        <img width="100%" height="100%" src="{% static "nafis/images/IMG-20210510-WA0027.jpg" %}">
    </div>
    <div class="col-sm-2"></div>
    
    <div class="col-sm-2"></div>
    <div class="col-sm-10 col-lg-3">
        <img width="100%" height="100%" src="{% static "nafis/images/IMG-20210510-WA0028.jpg" %}">
    </div>
    <div class="col-sm-2"></div>
    
    <div class="col-sm-2"></div>
    <div class="col-sm-12 col-lg-3">
        <img width="100%" height="100%" src="{% static "nafis/images/IMG-20210510-WA0026.jpg" %}">
    </div>
    <div class="col-sm-2"></div>
</div>
-->

<div class="footer">
    مارا در
    <a href="#"><i class="bi bi-instagram"></i></a>
    دنبال کنید

</div>


{% block main_content %}{% endblock %}
<script src="{% static "nafis/js/bootstrap.bundle.js" %}"></script>
<script src="{% static "nafis/js/jquery-3.6.0.min.js" %}"></script>
<script src="{% static "nafis/js/main.js" %}"></script>


</body>
</html>