{% extends "nafis/base.html" %}
{% load static %}
{% block title %}
    ارتباط با ما
{% endblock %}
<br/>
<br/>
<br/>
<br/>
{% block main_content %}
    <div id="conection">
        شماره های تماس &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09020869701
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09020869706
        <br>
        <br>

        <a href="http://instagram.com/nafisgroupesfahan">nafisgroupesfahan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ما را در اینستاگرام دنبال کنید
        <br>
        <br>
        ادرس:اصفهان خیابان جی
    </div>
{% endblock %}
