{% extends "nafis/base.html" %}
{% load static %}
{% block title %}
    ارتباط با ما
{% endblock %}
{% block main_content %}
    <div class="row conection">
        <div class="col-sm-2 col-lg-4"></div>
        <div class="col-sm-8 col-lg-4">
            <h4>ارتباط با ما</h4>
            <br>
            <p>
                شماره های تماس
                <br>
                <br>
                09020869701
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09020869706
            </p>
            <p>
                مارا در
                <a href="https://instagram.com/nafisgroupesfahan" class="bi bi-instagram"></a>
                دنبال کنید
            </p>
            <p>
                ادرس:اصفهان خیابان جی
            </p>
        </div>
        <div class="col-sm-2 col-lg-4"></div>
    </div>
    <br>
    <br>
{% endblock %}

