{% extends "nafis/base.html" %}
{% load static %}
{% block title %}
    ارتوپدی فنی
{% endblock %}
{% block main_content %}
    <div class="row pics">
        <div class="column">
            <div class="card tozih">
                <br>
               <h4> ارتوپدی فنی</h4>
                <br>
قالبگیری و ساخت انواع اورتوز ها و پروتز های اندام ها
                <br>
ساخت انواع کفش و کفی طبی
                <br>
طراحی و ساخت کمربند های طبی بعد از جراحی
                <br>
                <br>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img class="pict" src="{% static "nafis/images/IMG-20210524-WA0008.jpg" %}">
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="pict" src="{% static "nafis/images/IMG-20210524-WA0009.jpg" %}">
            </div>
        </div>

    </div>

{% endblock %}