{% extends "nafis/base.html" %}
{% load static %}
{% block title %}
    فیزیوتراپی در منزل
{% endblock %}
{% block main_content %}
<div class="row pics">
    <div class="column">
        <div class="card tozih">
            <br>
            <h4>فیزیوتراپی در منزل</h4>
            <br>
            مکانوتراپی، الکتروتراپی، تمرین درمانی برای انواع بیماری های نورولوژی (سکته
مغزی-ضربه مغزی-ام اس-گیلن باره و... ) و بیماری های ارتوپدی (شکستگی ها-پارگی
رباط و تاندون-تعویض مفصل و...)
            <br>
استفاده از دستگاه های الکتروتراپی شامل استیمولاتور، اولتراسوند، تکار، لیزر و..
            <br>
            <br>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img class="pict" src="{% static "nafis/images/IMG-20210524-WA0015.jpg" %}">
            <img class="pict" src="{% static "nafis/images/Rheumatoid Arthritis Physical Therapy.jpg" %}">

        </div>
    </div>

    <div class="column">
        <div class="card">
            <img class="pict" src="{% static "nafis/images/IMG-20210524-WA0016.jpg" %}">
        </div>
    </div>

</div>

{% endblock %}