{% extends "nafis/base.html" %}
{% load static %}
{% block title %}
    گفتار درمانی در منزل
{% endblock %}
{% block main_content %}
<div class="row pics">
    <div class="column">
        <div class="card tozih">
            <br>
            <h4>گفتاردرمانی در منزل</h4>
            <br>
گفتاردرمانی در کودکان و بزرگسالان
            <br>
            <br>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img alt="goftar" class="pict" src="{% static "nafis/images/IMG-20210524-WA0010.jpg" %}">
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img alt="goftar" class="pict" src="{% static "nafis/images/unnamed.jpg" %}">
        </div>
    </div>

</div>

{% endblock %}