{% extends "nafis/base.html" %}
{% load static %}
{% block title %}   خدمات درمان در منزل نفیس اصفهان
{% endblock %}

{% block main_content %}

    <div class="row mainpic">
        <div class="col-lg-1"></div>
        <div class="col-sm-12 col-lg-10">
            <img class="main_pic" width="100%" height=100% src="{% static "nafis/images/IMG-20210511-WA0027.jpg" %}">
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="footer1">
        گروه خدمات درمان در منزل نفیس اصفهان
    </div>
    <br>


    <div class="row pics">
        <div class="column hover">
            <div class="card">
                <a href="{% url "parastari" %}">
                    <img class="pict" src="{% static "nafis/images/IMG-20210510-WA0027.jpg" %}">
                </a>
                <div class="container">
                    ارائه کلیه خدمات پرستاری در منزل شما
                </div>
            </div>
        </div>
        <div class="column hover">
            <div class="card">
                <a href="{% url "pezeshki" %}">
                    <img class="pict" src="{% static "nafis/images/IMG-20210510-WA0026.jpg" %}">
                </a>
                <div class="container">
                    ارائه کلیه خدمات پزشکی در منزل شما
                </div>
            </div>
        </div>
        <div class="column hover">
            <div class="card">
                <a href="{% url "tavanbakhshi" %}">
                    <img class="pict" src="{% static "nafis/images/IMG-20210510-WA0028.jpg" %}">
                </a>
                <div class="container">
                        ارائه کلیه خدمات توانبخشی در منزل شما
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}