{% extends "nafis/base.html" %}
{% load static %}
{% block title %}
    خدمات درمان در منزل نفیس اصفهان
{% endblock %}
<br/>
<br/>
<br/>
<br/>
{% block main_content %}
    <div id="main_pic">
        <img width="1470" height="588" alt="" src="{% static "nafis/images/IMG-20210511-WA0027.jpg" %}">
    </div>
    <div id="main_s">
        <div id="main_ss">
            هیچ جا خونه خودت نمیشه
        </div>

    </div>
    <div id="p1">
        <img src="{% static "nafis/images/IMG-20210510-WA0027.jpg" %}">
    </div>
    <div id="p2">
        <img width="333" height="500" src="{% static "nafis/images/IMG-20210510-WA0026.jpg" %}">
    </div>
    <div id="p3">
         <img width="333" height="500" src="{% static "nafis/images/IMG-20210510-WA0028.jpg" %}">
    </div>
    <div id="p4">
    <br/>
        ارائه کلیه خدمات پرستاری در منزل شما
    </div>

{% endblock %}