{% extends "nafis/base.html" %}
{% load static %}
{% block title %}
    خدمات درمان در منزل نفیس اصفهان
{% endblock %}
<br/>
<br/>
<br/>
<br/>
{% block main_content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="main_pic">
        <div id="p1">

        </div>
        <div id="p2">

        </div>
    </div>


    <br>
    <br>
    <br>
    <br>
    <div id="p0">

        <div class="p3">
        </div>
        <div class="p3">
        </div>
        <div class="p3">
        </div>


    </div>
    <br>
    <br>
    <br>



{% endblock %}