{% extends "nafis/base.html" %}
{% load static %}
{% block title %}
    خدمات پرستاری در منزل
{% endblock %}

{% block main_content %}
    <div class="row pics">
        <div class="column">
            <div class="card tozih">
                <br>
               <h4>خدمات پرستاری در منزل نفیس</h4>
                <br>
تزریقات، پانسمان، زخم بستر، سونداژ و بخیه
                <br>
نمونه گیری و انجام آزمایشات
                <br>
                <br>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img class="pict" height="400" src="{% static "nafis/images/HA-Injection-Blog-Image.png" %}">
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="pict" src="{% static "nafis/images/WhatsApp Image 2021-05-24 at 8.57.25 PM.jpeg" %}">
            </div>
        </div>

    </div>
{% endblock %}