{% extends "nafis/base.html" %}
{% load static %}
{% block title %}
    خدمات پزشکی در منزل
{% endblock %}

{% block main_content %}
    <div class="row pics">
        <div class="column">
            <div class="card tozih">
                <br>
               <h4>خدمات پزشکی در منزل نفیس</h4>
                <br>
ویزیت پزشک عمومی
                <br>
                ویزیت پزشکان متخصص مغز و اعصاب، متخصص ارتوپدی و داخلی
                <br>
ویزیت پزشک متخصص قلب و عروق، نوار قلب و اکو
                <br>
                <br>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img class="pict" src="{% static "nafis/images/doctor-wearing-gloves-medical-mask-medical-concept-corona-virus_255757-81.jpg" %}">
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img class="pict" src="{% static "nafis/images/IMG-20210524-WA0014.jpg" %}">
            </div>
        </div>

    </div>
{% endblock %}