{% extends "nafis/base.html" %}
{% load static %}
{% block title %}
    خدمات پزشکی در منزل
{% endblock %}

{% block main_content %}

    <div id="j"><P dir="rtl">
        خدمات پزشکی در منزل نفیس<br>
        ویزیت پزشک عمومی<br>
        ویزیت پزشکان متخصص مغز و اعصاب، متخصص ارتوپدی و داخلی<br>
        ویزیت پزشک متخصص قلب و عروق، نوار قلب و اکو<br>
    </P>
    </div>
    <div id="pic">
        <img alt="pic" width="300" height="400" src={% static "nafis/images/IMG-20210510-WA0026.jpg" %}>
    </div>
{% endblock %}